[Desktop Entry]
Type=Application
Name=Razer Battery Tray
GenericName=Wireless Device Battery Indicator
Comment=Tray indicator for Razer wireless mouse and keyboard battery
Exec=/usr/bin/razer-tray
Icon=battery
Terminal=false
Categories=System;HardwareSettings;
X-GNOME-Autostart-enabled=true
NoDisplay=false
